<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
                <div>
                    <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
                    <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
                </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' name.id %}">{{ name }}</a></td>
                        <td>{{ name.items.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
